extends layout 

block content
  h3 New Message
  form(method = "POST" action="/new" class="form") 
    input(type= 'text' name= 'user' required placeholder= 'User Name')
    input(type = 'text' name= 'text' required placeholder= 'Message')
    input(type='submit' value= 'Send')