extends layout

block content
  h1= title
   hr
  for msg in messages
    div.msg-container
      h2 #{msg.user}
      
      p(class="msg-text") #{msg.text}
      p #{msg.added}
      

  a(href="/new" class="add-msg")  
    button(class='btn-msg') Send Message

